# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/
*.so
.idea/
.vscode/

# Node.js
node_modules/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env
.env.local
.env.*.local

# General
.DS_Store
*.log
*.log*
logs/
*.sqlite3
*.db

/backend/data/chinook.db
/backend/app/.env
